<div class="user-details">
  <h1> Sobre Mi </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech" style="display: flex; justify-content: space-between;">
    <div class="languages">
      <h2>Lenguajes</h2>
      <div>
        <i class="devicon-python-plain"></i>
        <p><b>Python</b></p>
      </div>
      <div>
        <i class="devicon-r-plain"></i>
        <p><b>R</b></p>
      </div>
      <div>
        <i class="devicon-mysql-plain"></i>
        <p><b>MySQL</b>: <i>Mysql</i></p>
      </div>
      <div>
        <i class="devicon-mongodb-plain"></i>
        <p><b>MongoDB</b>: <i>MongoDB</i></p>
      </div>
    </div>
    <div class="libraries">
      <h2>Librerías</h2>
      <div>
        <i class="devicon-pandas-plain"></i>
        <p><b>Pandas</b></p>
      </div>
      <div>
        <i class="devicon-numpy-original"></i>
        <p><b>NumPy</b></p>
      </div>
      <div>
        <i class="devicon-matplotlib-plain"></i>
        <p><b>Matplotlib</b></p>
      </div>
      <div>
        <i class="devicon-tensorflow-original"></i>
        <p><b>TensorFlow</b></p>
      </div>
    </div>
  </div>
</div>

