 <div class="user-details">
  <h1> Sobre Mi </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Lenguajes</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-r-plain"></i>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-mongodb-plain"></i>
    </div>
    <div class="tech">
      <h2>Librerias</h2>
      <i class="devicon-pandas-plain"></i>
      <i class="devicon-matplotlib-plain"></i>
      <i class="devicon-scikit-learn-plain"></i>
      <i class="devicon-tensorflow-plain"></i>
    </div>
    <div class="tech"></div>
      <h2>Herramientas</h2>
      <i class="devicon-vscode-plain"></i>
      <i class="devicon-rstudio-plain"></i>
    </div>
</div>
