<div class="user-details">
  <h1> Sobre Mi </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Lenguajes</h2>
    <i class="devicon-python-original-wordmark"></i>
    <i class="devicon-react-original-wordmark"></i>
    <i class="devicon-mysql-original-wordmark"></i>
    <i class="devicon-mongodb-original-wordmark"></i>
    <p>Python, R, MySQL y MongoDB </p>
  </div>
  <div class="tech">
    <h2>Librerías</h2>
    <i class="devicon-pandas-original-wordmark"></i>
    <i class="devicon-numpy-original-wordmark"></i>
    <i class="devicon-matplotlib-original-wordmark"></i>
    <i class="devicon-tensorflow-original-wordmark"></i>
    <i class="devicon-opencv-original-wordmark"></i>
    <p>Pandas, Numpy, Matplotlib, Tensorflow, OpenCV</p>
  </div>
</div>
