<div class="user-details">
  <h1> Proyectos </h1>
</div>

<!-- Primer proyecto (imagen a la derecha) -->
<div class="user-projects">
  <div class="project alt">
    <div class="contents">
      <h3>Predictor de Trading</h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Predictor_de_Trading">Link GitHub</a>
    </div>
    <div class="image-wrapper right">
      <img alt="Redes Neuronales" src="{{ "/assets/img/redes_b.png" | prepend: site.baseurl }}" /> 
    </div>
  </div>
</div>

<!-- Segundo proyecto (imagen a la izquierda) -->
<div class="user-projects">
  <div class="project">
    <div class="image-wrapper">
      <img alt="TensorFlow" src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3>TensorFlow</h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="project-link" href="https://github.com/jrguignan/TensorFlow">Link GitHub</a>
    </div>
  </div>
</div>
