<div class="user-details">
  <h1> Proyectos </h1>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="Redes Neuronales" src="{{ "/assets/img/redes_b.png" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents">
    <h3> Predictor de Trading </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Proyecto-Predictor_de_Trading">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="TensorFlow" src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/TensorFlow">Link GitHub</a>
  </div>
</div>

<div class="user-projects"></div>
  <div class="images-right">
    <img alt="Machine Learning" src="{{ "/assets/img/machine_l.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-left">
    <h3> Machine Learning </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Machine_Learning">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Detector Matrículas" src="{{ "/assets/img/detector_m.png" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-right">
    <h3> Detector de Matrículas </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Proyecto-Deteccion_de_Matriculas">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Redes Neuronales" src="{{ "/assets/img/redes_n.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents">
    <h3> Redes Neuronales from Scratch </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Redes_Neuronales-from_scratch">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Descenso Gradiente" src="{{ "/assets/img/descenso_g.jpg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-right">
    <h3> Descenso del Gradiente from Scratch </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Descenso_del_Gradiente-from_scratch">Link GitHub</a>
  </div>
</div>

<div class="user-projects"></div>
  <div class="images-right">
    <img alt="Regresión" src="{{ ""/assets/img/regresion.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-left">
    <h3> Regresión Lineal from Scratch </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Regresion_Lineal_simple_y_multiple">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Nail Salon" src="{{ "/assets/img/nails_s.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-right">
    <h3> Nail Salon Yelp </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Proyecto-Nails_Salon-Yelp">Link GitHub</a>
  </div>
</div>

<div class="user-projects"></div>
  <div class="images-right">
    <img alt="Web Scraping" src="{{ "/assets/img/web_s.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-left">
    <h3> Web Scraping </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Web_Scraping">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Accidentes viales" src="{{ "/assets/img/accidentes_v.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-right">
    <h3> Siniestros Viales </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Proyecto-Siniestros_Viales-Data_Analyst">Link GitHub</a>
  </div>
</div>

<div class="user-projects"></div>
  <div class="images-right">
    <img alt="Sistema de Recomendación" src="{{ "/assets/img/steam_a.jpeg" | prepend: site.baseurl }}" height="260" />
  </div>
  <div class="contents-left">
    <h3> Sistema de Recomendación </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="Check it out" href="https://github.com/jrguignan/Proyecto-Sistema_Recomendaciones-API">Link GitHub</a>
  </div>
</div>