<div class="user-details">
  <h1> Proyectos </h1>
</div>

<div class="project alt">
  <div class="image-wrapper">
    <img alt="ecuaciones_graf" src="{{ "/assets/img/ecuaciones_p.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Solución de Ecuaciones Diferenciales con Redes Neuronales PINN </h3>
    <p>Este repositorio proporciona una implementación detallada de redes neuronales Fisicamente informadas (PINNs) para resolver ecuaciones diferenciales de primer y segundo orden, mediante el uso de Tensoflow. A través de ejemplos específicos, se demuestra cómo ajustar y entrenar estas redes con distintos hiperparámetros, utilizando técnicas de optimización y funciones de activación como Elu y Tangente Hiperbólica. El proyecto destaca los beneficios de las PINNs en problemas complejos, mejorando la precisión y generalización en simulaciones físicas sin necesidad de grandes cantidades de datos.</p>
    <a class="project-link" href="https://github.com/jrguignan/Solucion_de_Ecuaciones_Diferenciales_con_Redes_PINN">Link GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="project">
    <div class="image-wrapper">
      <img alt="Redes Neuronales" src="{{ "/assets/img/redes_b.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Predictor de Trading </h3>
      <p>En este proyecto se ha desarrollado un modelo de predicción de precios de cierre de tres activos financieros, las acciones de Apple,Tesla y el valor del S&P 500, El modelo se desarrolló con una red neuronal de tipo Long Short-Term Memory (LSTM).</p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Predictor_de_Trading">Link GitHub</a>
    </div>
  </div>

  <div class="project alt">
    <div class="image-wrapper">
      <img alt="TensorFlow" src="{{ "/assets/img/tensorflow.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> TensorFlow </h3>
      <p>Este repositorio en GitHub proporciona ejemplos prácticos de modelos de machine learning implementados en TensorFlow. Incluye regresiones, máquinas de soporte vectorial (SVM), redes neuronales simples y convolucionales. También aborda el preprocesamiento de datos, la creación de modelos, el ajuste de hiperparámetros y la evaluación de rendimiento.</p>
      <a class="project-link" href="https://github.com/jrguignan/TensorFlow">Link GitHub</a>
    </div>
  </div>

  <div class="project">
    <div class="image-wrapper">
      <img alt="Machine Learning" src="{{ "/assets/img/machine_l.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Machine Learning </h3>
      <p>Este repositorio proporciona más de 30 ejemplos prácticos de modelos de machine learning en python y en R. Se aborda modelos de Preprocesamiento, Regresión, Clasificación, Agrupamiento, Reglas de Asociación, Aprendizaje por Refuerzo, Procesamiento de Lenguaje Natural, Redes Neuronales, Reducción de Dimensiones y  Selección de Modelos</p>
      <a class="project-link" href="https://github.com/jrguignan/Machine_Learning">Link GitHub</a>
    </div>
  </div>

  <div class="project alt">
    <div class="image-wrapper">
      <img alt="Detector Matrículas" src="{{ "/assets/img/detector_m.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Detector de Matrículas </h3>
      <p>Este proyecto tiene como objetivo detectar vehículos y leer sus matrículas utilizando una combinación avanzada de tecnologías: YOLOv10 para la detección de objetos, Supervision para el seguimiento, OpenCV para el procesamiento de imágenes, y Tesseract-OCR para el reconocimiento óptico de caracteres.</p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Deteccion_de_Matriculas">Link GitHub</a>
    </div>
  </div>

  <div class="project">
    <div class="image-wrapper">
      <img alt="Redes Neuronales" src="{{ "/assets/img/redes_n.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Redes Neuronales from Scratch </h3>
      <p>En este repositorio de GitHub se construyeron ejemplos prácticos desde cero de redes neuronales, utilizando descenso del gradiente y retropropagación (backpropagation). Se diseñaron varias redes con 3 y 6 neuronas para replicar funciones 1D y 2D, explorando la eficiencia de los cálculos mediante el uso de matrices. Este proyecto ofrece una visión clara de cómo funcionan las redes neuronales.</p>
      <a class="project-link" href="https://github.com/jrguignan/Redes_Neuronales-from_scratch">Link GitHub</a>
    </div>
  </div>

  <div class="project alt">
    <div class="image-wrapper">
      <img alt="Descenso Gradiente" src="{{ "/assets/img/descenso_g.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Descenso del Gradiente from Scratch </h3>
      <p>En este repositorio se muestra el algoritmo del descenso del gradiente desde cero, dicho algoritmo esencial en machine learning y ciencia de datos, utilizado para optimizar modelos ajustando sus parámetros de manera eficiente. Este método permite minimizar la función de pérdida en tareas como la regresión, clasificación y redes neuronales, mejorando el rendimiento de los modelos a través de ajustes iterativos.</p>
      <a class="project-link" href="https://github.com/jrguignan/Descenso_del_Gradiente-from_scratch">Link GitHub</a>
    </div>
  </div>

  <div class="project">
    <div class="image-wrapper">
      <img alt="Regresión" src="{{ "/assets/img/regresion_l.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Regresión Lineal </h3>
      <p>Este repositorio ofrece una exploración completa de modelos estadísticos para análisis de regresión. Se abordan tanto la regresión lineal simple como múltiple, desde cero utilizando los fundamentos matemáticos detrás de la obtención de coeficientes y las ecuaciones clave para representar la relación entre variables dependientes e independientes. También se utiliza Scikit-Learn, brindando comparaciones entre los métodos manuales y las herramientas automatizadas. </p>
      <a class="project-link" href="https://github.com/jrguignan/Regresion_Lineal_simple_y_multiple">Link GitHub</a>
    </div>
  </div>

  <div class="project alt">
    <div class="image-wrapper">
      <img alt="Nail Salon" src="{{ "/assets/img/nails_s.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Nails Salon Yelp  </h3>
      <p>Este proyecto grupal busca hacer una análisis de los salones de uñas de USA y con ellos sacar rentabilidad de esta información. Para esto se limpiaron los datos, se creó un dashboard en Power BI, se construyó el pipeline en GCP y se hizo la implementación de un sistema de recomendación en Streamlit.
        <a class="Link" href="https://machinelearning-proyecto.streamlit.app/">Link Deploy</a>
      </p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Nails_Salon-Yelp">Link GitHub</a>
    </div>
  </div>

  <div class="project">
    <div class="image-wrapper">
      <img alt="Web Scraping" src="{{ "/assets/img/web_s.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Web Scraping </h3>
      <p>En este repositorio contiene  varios proyectos enfocados en la obtención y manejo de datos web utilizando técnicas de scraping y bases de datos. Estos proyectos demuestran habilidades en scraping con BeautifulSoup, manejo de pandas para análisis de datos y creación de bases de datos con PySQL.</p>
      <a class="project-link" href="https://github.com/jrguignan/Web_Scraping">Link GitHub</a>
    </div>
  </div>

  <div class="project alt">
    <div class="image-wrapper">
      <img alt="Accidentes viales" src="{{ "/assets/img/accidentes_v.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Accidentes viales </h3>
      <p>Este proyecto simula el rol de un analista de datos, con el objetivo de analizar datos de siniestros viales y ayudar a las autoridades a reducir víctimas fatales. Se utilizan datasets sobre homicidios en siniestros, llevando a cabo tareas de ETL y análisis exploratorio en Python y Power BI. El análisis revela patrones en accidentes, destacando a conductores de motos y peatones como principales víctimas, y propone KPIs para reducir la tasa de homicidios viales en Buenos Aires. </p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Siniestros_Viales-Data_Analyst">Link GitHub</a>
    </div>
  </div>

  <div class="project">
    <div class="image-wrapper">
      <img alt="Sistema de Recomendación" src="{{ "/assets/img/steam_a.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Sistema de Recomendación </h3>
      <p>Este proyecto simula el rol de un MLOps Engineer en la plataforma de videojuegos Steam, desarrollando un Producto Mínimo Viable que incluye una API desplegada en la nube y un modelo de Machine Learning para el análisis de sentimientos en comentarios de usuarios y la recomendación de juegos. Se llevó a cabo un proceso de ETL y análisis exploratorio, seguido por la implementación de funciones en FastAPI. La API se despliega utilizando Render.
        <a class="Link" href="https://proyecto-api-steam.onrender.com/">Link Deploy</a>
      </p>
      <a class="project-link" href="https://github.com/jrguignan/Proyecto-Sistema_Recomendaciones-API">Link GitHub</a>
    </div>
  </div>
</div>

